.header {
  background-color: white;
  height: 80px;
  border-bottom: 3px solid $tufts-blue;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;

  .compass {
    position: absolute;
    height: 100px;
    width: 375px;
    top: -35px;
    left: 250px;
  }

  .needle {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -15px;
    left: 270px;
    animation: spin 10s linear infinite;
    transform-origin: center;
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    15% {
      transform: rotateZ(0deg);
    }
    40% {
      transform: rotateZ(1365deg);
    }
    42% {
      transform: rotateZ(1345deg);
    }
    44% {
      transform: rotateZ(1360deg);
    }
    45% {
      transform: rotateZ(1355deg);
    }
    60% {
      transform: rotateZ(1355deg);
    }
    86% {
      transform: rotateZ(10deg);
    }
    88% {
      transform: rotateZ(-10deg);
    }
    89% {
      transform: rotateZ(10deg);
    }
    90% {
      transform: rotateZ(0deg);
    }
  }
}

.hamburger-react {
  z-index: 1046;
  color: rgb(0, 0, 0);
}

.navHeader {
  margin-top: 50px;
}

.offcanvas-backdrop {
  background-color: $alice-blue;
}

.offcanvas {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-div {
    width: 80%;
  }

  .logo {
    margin-top: 70px;
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
  }

  ul {
    border-top: 3px solid $tufts-blue;
    width: 80%;
    padding-left: 0;
    padding-top: 10px;

    li {
      list-style: none;
      margin: 10px 0;
    }

    a {
      text-decoration: none;
      color: $tufts-blue;
      font-family: $montserat;
      font-size: 18px;
    }

    a:hover {
      color: $cobalt-blue;
    }

    button {
      background-color: white;
      border: none;
      color: $tufts-blue;
      font-size: 18px;
      padding: 0;
      font-family: $montserat;
    }

    button:hover {
      color: $cobalt-blue;
    }
  }
}
