@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$login-color: #E3F2FD;
 
.login{
  font-family: quicksand;
  background-color: $login-color;
  height: 500px;
  width: 400px;
  align-content: center;
  position: absolute;
  left: 35%;
  top: 20%;
  
  


}