.profile-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: $montserat;
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;

  .profile-box {
    width: 320px;
    border: 1px solid $light-sky-blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $tufts-blue;

    h3 {
      margin: 0;
      font-size: 16px;
      margin-left: 10px;
    }

    .user-bio {
      margin-left: 5px;
    }

    p {
      margin: 0;
      font-weight: bold;
    }

    #bio {
      font-weight: normal;
      margin-left: 10px;
      text-align: right;
    }

    a {
      color: $tufts-blue;
      text-decoration: none;
    }

    a:hover {
      color: $cobalt-blue;
    }

    .top-row {
      width: 90%;
      border-bottom: 3px solid $tufts-blue;
      text-align: center;

      h2 {
        margin: 10px 0 3px 0;
      }
    }

    .information-row {
      width: 90%;
      display: flex;
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .information-row-bio {
      width: 90%;
      display: flex;
      padding: 10px 5px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .recommendations-list {
    ul {
      padding-left: none;
    }

    li {
      list-style: none;
    }
    .recommendation {
      background-color: #e3f2fd68;
      border-radius: 10px;
      color: $tufts-blue;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid $light-sky-blue;

      .top-row {
        padding: 3px 0 3px 0;
        width: 90%;
        border-bottom: 2px solid $tufts-blue;

        h2 {
          margin: 0;
          text-align: center;

          a {
            color: $tufts-blue;
            text-decoration: none;
          }

          a:hover {
            color: $cobalt-blue;
          }
        }
      }

      .second-row {
        h4 {
          margin: 0;
          padding: 5px 0;
        }

        a {
          color: $tufts-blue;
          text-decoration: none;
        }

        a:hover {
          color: $cobalt-blue;
        }
      }

      .third-row {
        background-color: #e3f2fdc2;
        width: 90%;
        border-radius: 5px;
        padding: 5px;
        font-style: italic;
      }

      .fourth-row {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        width: 90%;

        .user-rec-price {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33%;

          .fa-coins {
            font-size: 20px;
          }
        }

        .user-rec-quality,
        .user-rec-value {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 33%;

          p {
            margin: 0;
            font-size: 14px;
            text-align: center;
          }

          .fa-star {
            font-size: 14px;
          }
        }
      }

      .bottom-row {
        h6 {
          margin: 0;
          padding: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
