.recommendation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 90px;
  font-family: $montserat;

  .top-section {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 10px black;
    width: 800px;
    background-size: cover;
    border-radius: 10px;

    h2 {
      margin: 0;
      font-size: 50px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    h3 {
      margin: 0;
      font-size: 40px;
      font-family: $bebas-neue;
    }
  }

  .recommendation-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;

    form {
      margin-top: 30px;
      width: 310px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 15px;

      h3 {
        color: $tufts-blue;
        font-size: 26px;
      }

      .form-field {
        padding: 3px 0;
        display: flex;
        justify-content: center;

        input {
          color: $tufts-blue;
          width: 300px;
        }

        .select-type {
          color: $tufts-blue;
          background-color: transparent;
          border: 1px solid $light-sky-blue;
          padding: 3px 2px;
          border-radius: 2px;
        }

        .text-area {
          width: 300px;
          height: 80px;
          color: $tufts-blue;
        }
      }
    }

    .radio {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 5px 0;

      div {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
      }

      i {
        color: $blue-jeans-2;
      }
    }

    #submit {
      background-color: $tufts-blue;
      border: 1px solid $light-sky-blue;
      color: $alice-blue;
      padding: 1px 5px;
      margin-top: 10px;
      font-size: 14px;
    }

    .submit:hover {
      box-shadow: 1px 1px 10px black;
    }
  }

  .error {
    color: $tufts-blue;
    margin-bottom: 10px;
    width: 310px;
    font-size: 14px;
  }
}
