.user-page {
  .user-info-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $montserat;

    h3 {
      color: $tufts-blue;
      font-size: 30px;
      border-bottom: 3px solid $tufts-blue;
      width: 300px;
      text-align: center;
      padding-bottom: 10px;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    border-radius: 20px;
    color: $tufts-blue;

    h4 {
      font-size: 20px;
      margin: 10px 0 20px 0;
    }

    .user-update-info {
      width: 450px;

      .form-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        p {
          margin: 0;
          width: 200px;
          font-weight: bold;
          color: $tufts-blue;
        }

        .current-info {
          font-weight: normal;
          color: $blue-jeans;
        }

        input {
          height: 30px;
          border: 1px solid $light-sky-blue;
          color: $tufts-blue;
          width: 200px;
        }

        textarea {
          width: 200px;
          height: 150px;
          border: 1px solid $light-sky-blue;
          color: $tufts-blue;
        }
      }

      .submit-section {
        display: flex;
        justify-content: center;

        .submit {
          color: $alice-blue;
          background-color: $tufts-blue;
          border-radius: 2px;
          border: none;
          padding: 2px 5px;
          margin: 20px 0;
        }
      }
    }
  }
}
